/** HeaderコンポーネントのCSS定義 */
@import '../variables';

header {

  // ヘッダーのメインコンテナ
  >div {
    display: flex;
    align-items: center;
    justify-content: space-between; // タイトルとナビゲーションを両端に配置
    padding: 10px 16px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: background-color 0.3s;
    z-index: 1000;
    background-color: $color-white;

    // スクロール時のスタイル
    &.scrolled {
      background-color: $color-charcoal;

      // scrolled状態では、サイトタイトルとナビゲーションのリンク色を白に
      .site-title a,
      nav a {
        color: $color-white;
      }
    }
  }

  // サイトタイトル
  .site-title {
    h1 {
      font-size: 15pt;
      font-weight: normal;
      margin: 0;
      display: flex;
      align-items: center;

      a {
        color: #000;
        text-decoration: none;
        transition: color 0.3s; // 色の変更を滑らかに

        &:hover {
          text-decoration: underline;
        }
      }

      img {
        margin-right: 8px;
      }
    }
  }
}