/** HeaderコンポーネントのCSS定義 */
@import '../variables';

header {

  // 全体の構造
  div {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: background-color 0.3s;
    z-index: 1000;

    // h1と.navigationがそれぞれ50%の幅を持つように設定
    >h1,
    >.navigation {
      flex-basis: 50%;
    }

    &.scrolled {
      background-color: $color-charcoal;

      a {
        color: $color-white;
      }
    }
  }

  // 見出し
  h1 {
    font-size: 15pt;
    font-weight: normal;
    margin: 0;

    a {
      color: #000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  // ナビゲーション
  nav {
    width: 100%;
  }
}