@import '../variables';

/** SectionコンポーネントのCSS定義 */
section {
  div {
    margin: 0;
    padding: 36px 48px;
  }

  h3 {
    text-align: center;
    font-size: $section-heading-font-size;
  }

  p {
    font-size: $section-body-font-size;
  }

  // 紹介記事用のCSS
  .features {
    background-color: rgba(246, 178, 107, 1);
    text-align: center;

    p {
      margin-top: 30px;
    }

    ul {
      li {
        font-size: 14pt;
        line-height: 1.38;
        margin: 12px 0;

        a {
          color: #000;
        }
      }
    }
  }
}