@import '../variables';

/** SectionコンポーネントのCSS定義 */
section {
  div {
    margin: 0 48px;
    padding: 36px 0;
  }

  h3 {
    text-align: center;
    font-size: $section-heading-font-size;
  }

  p {
    font-size: $section-body-font-size;
  }
}