/** 変数定義 */

// 色定義
$color-white: #fff;
$color-charcoal: rgb(28, 28, 28);

// コンテンツの背景色
$content-body: rgb(255, 229, 153);

// 章のフォント設定
$section-heading-font-size: 24pt;
$section-body-font-size: 18pt;