/** リセットCSSでリセットされない要素のCSSをカスタマイズする */

// 余白をリセット
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

// リストのスタイルをリセット
ul {
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

/** カスタムCSS定義 */

// text-align
.align-center {
  text-align: center;
}

// 要素の非表示
.d-none {
  display: none;
}