/** 変数定義 */
$content-body: rgb(255, 229, 153); // コンテンツの背景色

/** リセットCSSでリセットされない要素のCSSをカスタマイズする */
ul {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}